<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Title}}</title>
</head>
<body>
    <h1>{{.Header}}</h1>
    <table style="width:50%">
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
        {{range .TodoList}}
        <tr>
            <td>{{.Title}}</td>
            <td>{{.Description}}</td>
        </tr>
        {{end}}
    </table> 
    <a href="./todo/new/">New Todo List</a>
</body>
</html>